:root {
  --darkgray: hsl(0, 0%, 63%);
  --bg: hsl(0, 0%, 0%);
  --fg: hsl(0, 0%, 100%);
  --darkgray: hsl(0, 0%, 27%);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

body,
ol[class],
li,
ul,
figure,
figcaption,
blockquote,
dl,
dd,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.slide-btn {
  background: var(--bg);
}

nav {
  position: absolute;
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}
.nav-link {
  padding-right: 10px;
  text-decoration: none;
  color: var(--fg);
}
.title {
  line-height: 1.2;
}
