:root {
  --lightGray: hsl(0, 0%, 63%);
  --bg: hsl(0, 0%, 0%);
  --fg: hsl(0, 0%, 100%);
  --darkGray: hsl(0, 0%, 27%);
  --flow-space: 1.75rem;
  --flow-mid: 3.5rem;
  --flow-large: 5rem;
  --flow-massive: 10rem;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

body,
ol[class],
li,
ul,
figure,
figcaption,
blockquote,
dl,
dd,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  max-height: 100vh;
}

nav {
  position: absolute;
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
  margin: 2rem 2rem;
}
.nav-link {
  padding-right: 10px;
  text-decoration: none;
  color: var(--fg);
}
.title {
  line-height: 1.22;
  padding-right: 25px;
  color: var(--fg);
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.5px;
}
.hero-wrapper {
  display: flex;
}
.hero-wrapper img {
  align-self: stretch;
  max-height: 450px;
  height: 100%;
  align-self: stretch;
}

.hero-text {
  display: grid;
  grid-template-rows: 10px 4fr auto;
}

.about-wrapper {
  display: flex;
}

.hero-text-wrapper {
  padding: 0 var(--flow-large) 0 var(--flow-large);
}
.hero-text-wrapper p {
  color: var(--lightGray);
  font-size: 12px;
  padding-bottom: var(--flow-space);
}
.hero-title {
  font-size: 35px;
  margin-bottom: 2rem;
  padding-top: 4rem;
}

.slide-btn {
  background: var(--bg);
  text-decoration: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 70px;
  height: 70px;
}
.shop-now {
  text-decoration: none;
  color: var(--bg);
  letter-spacing: 0.5rem;
  font-size: 14px;
}

.about-section {
  padding: 3rem 3rem;
}
.about-section h3 {
  font-size: 16px;
}
.about-section p {
  color: var(--lightGray);
  font-size: 12px;
  padding-bottom: var(--flow-space);
}
